// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Bootstrap icons

// @import "~bootstrap-icons/font/bootstrap-icons";

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-cont {

    width: 65px;

    img {

        width: 100%;
        object-fit: cover;
    }
}

<<<<<<< HEAD
=======
.c-pointer{

    cursor: pointer;
}


>>>>>>> 6f8411e6cca13d58d140a2afc13386e8f1e53aa5
@import 'register/register.scss';
