// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Bootstrap icons

// @import "~bootstrap-icons/font/bootstrap-icons";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-cont{

    width: 65px;

    img{

        width: 100%;
        object-fit: cover;
    }
}

.c-pointer{

    cursor: pointer;
}


@import 'register/register.scss';
