
.button-checkbox {
    display: inline-block;
    position: relative;
    padding: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    // width: 50px;
  }

  .button-checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .button-label {
    display: inline-block;
    padding: 6px 12px;
    width: 110px;
    text-align: center;
  }

  .button-checkbox input[type="checkbox"]:checked + .button-label {
    background-color: #EFAD44;
    color: #fff;
  }

  .button-checkbox input[type="checkbox"]:focus + .button-label {
    outline: none;
  }

  .button-checkbox input[type="checkbox"]:active + .button-label {
    background-color: #EFAD44;
    border-color: #EFAD44;
  }


  .form-control:focus {
    outline: none !important;
    border-color: orange !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5) !important;
}

.text-orange{

    color: orange !important;
}



