
.button-checkbox {
    display: inline-block;
    position: relative;
    padding: 0;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .button-checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .button-label {
    display: inline-block;
    padding: 6px 12px;
  }

  .button-checkbox input[type="checkbox"]:checked + .button-label {
    background-color: #007bff;
    color: #fff;
  }

  .button-checkbox input[type="checkbox"]:focus + .button-label {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }

  .button-checkbox input[type="checkbox"]:active + .button-label {
    background-color: #0069d9;
    border-color: #0062cc;
  }

